
  .content{
    color: var(--black05);
    width: 90%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--terciary);
    padding: 32px;
    border-radius: 16px;
  }
 .image{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
 }
 .image img{
    width: 160px;
    height: 160px;
    margin: auto;
    border-radius: 50%;
 }
 .text{
    width: 70%;
    font-size: 18px;
    color: var(--secondaryText);
 }
 .text p{
   margin: 0;
 }
 @media screen and (max-width: 700px) {
   .content{
      position: relative;
      flex-direction: column;
   }
   .image{
      position: absolute;
      top: -88px;
   }
   .text{
      width: 90%;
      margin-top: 48px;
   }
}
@media screen and (max-width: 500px){
   .image{
      position: absolute;
      top: -72px;
   }
   .text{
      width: 90%;
      margin-top: 32px;
   }
   .text p{
      font-size: 16px;
    }
}
@media screen and (max-width: 400px){
   .text{
      width: 90%;
      margin-top: 32px;
   }
   .text p{
      font-size: 14px;
    }
    .image{
      position: absolute;
      top: -48px;
   }
}
@media screen and (max-width: 320px){
   .image{
      position: absolute;
      top: -32px;
   }
   .text{
      width: 100%;
      margin-top: 24px;
   }
}