.content{
  max-width: 90%;
  user-select: none;
  margin: auto;
}
.content h1{
  font-size: 93px;
  margin: 0 auto;
  font-weight: 400;
  line-height: 70px;
  color: var(--black05);
}
.content p{
  font-size: 30px;
  margin: 0;
  color: var(--black05);
}
.buttons{
  margin: 32px 0;
  display: inline-block;
  width: 280px;
}
.buttons :nth-child(1){
  padding: 12px 24px;
  margin: 0 8px 0 0;
  font-size: 14px;
  border-radius: 8px;
  font-weight: 300;
  background-color: var(--primary);
  border: 1px solid transparent;
  color: var(--black05);
}
.buttons :nth-child(1):hover{
  border: 1px solid var(--black05);
}
.buttons :nth-child(2){
  padding: 13px 0px;
  margin: 0 8px;
  font-size: 14px;
  text-decoration: underline;
  font-weight: 300;
  color: var(--black05);
}
.buttons a:hover {
  text-decoration: none;
}
@media screen and (max-width: 700px) {
  .content h1{
    font-size: 74px;
  }
  .content p{
    font-size: 24px;
  }
}
@media screen and (max-width: 500px) {
  .content h1{
    font-size: 60px;
    line-height: 52px;
  }
  .content p{
    font-size: 20px;
  }
}