.container{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.items_container{
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.logo{
    display: inline-block;
    color: white;
    font-family: 'Mitr', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.nav_items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_items a{
    margin-left: 32px;
    padding: 12px 0;
    font-size: 18px;
    font-family: 'Mitr', sans-serif;
}
.navlink{
    text-decoration: underline;
}
.icons{
    display: none;
}
@media screen and (max-width: 700px) {
    .icons{
        display: inline-block;
    }
    .logo{
        display: none;
    }
    .items_container{
        justify-content: center;
        width: 95%;
    }
    .nav_items{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav_items a{
        font-size: 14px;
        margin: 0 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .navlink{
        margin: auto;
    }
}