.container{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    opacity: 0;
}
.items_container{
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.logo{
    display: inline-block;
    color: white;
    font-family: 'Mitr', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.nav_items{
    display: flex;
    justify-content: center;
    align-items: center;
  color: var(--black05);
}
.nav_items a{
    margin-left: 32px;
    padding: 12px 0;
    font-size: 18px;
    font-family: 'Mitr', sans-serif;
}
.navlink{
    text-decoration: underline;
}
.icons{
    display: none;
}
@media screen and (max-width: 700px) {
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icons{
        display: inline-block;
        font-size: 20px;
    }
    .textIcons{
        font-size: 12px;
    }
    .logo{
        display: none;
    }
    .items_container{
        justify-content: space-around;
        width: 100%;
        position: fixed;
        bottom: 0;
        margin: 0 auto;
    }
    .nav_items a{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 8px;
    }

}
@media screen and (max-width: 350px) {
    .textIcons{
        display: none;
    }
    .nav_items a{
        height: 48px;
        font-size: 24px;
        margin: 0 16px;

    }
}