.content{
    color: var(--black05);
    width: 90%;
    max-width: 700px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--terciary);
    padding: 32px;
    border-radius: 16px;
}
.slider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    flex-wrap: wrap;
}
.card{
    width: fit-content;
    height: fit-content;
    margin: auto 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.card svg{
    width: 80px;
    height: 80px;
}
.card h2{
    text-align: center;
    margin-top: 8px;
    color: var(--secondaryText);
}
@media screen and (max-width: 700px) {
    .slider{
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}